body {
    background-color: #EEBCBC;
    text-align: center;
    font-family: "Sedgwick Ave";
}


.socials {
    padding: 4%;
}

.btn {
    background-color: #843B62;
}

div {
    padding: 2%;
}